body {
  display: flex;
  flex-direction: column;
}
section {
  padding: 10dvh 1rem 10dvh 1rem;
}

body,
p,
li,
input,
textarea {
  font-size: 16px;
}
.button-group {
  flex-direction: row;
  gap: 1rem;
}

.button-option {
  flex: 1;
}

h1 {
  font-size: 2rem;
  justify-self: center;
  color: var(--noir-charbon);
  padding-bottom: 2dvh;
}

.contact-info-box {
  display: flex;
  flex-direction: column;
  padding: 5%;
  border: 1px solid var(--jaune-dore);
  border-radius: 20px;
  gap: 10px;
}

.address-section {
  display: flex;
  width: 80%;
  justify-content: space-around;
  padding: 5dvh;
}
 form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2dvh;
}
.form-label {
  font-weight: bold;
}
.form-input,
.form-textarea {
  padding: 0.8rem 1rem;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.button-option {
  border: 1px solid var(--jaune-dore);
  border-radius: 20px;
  width: 100%;
  padding: 0.9rem 1.2rem;
  font-size: 0.85rem;
}
.button-option.active {
  background-color: var(--jaune-dore);
  color: var(--blanc-casse);
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
form input,
form textarea {
  border: 1px solid var(--jaune-dore);
  border-radius: 20px;
}

.submit-button {
  background-color: var(--jaune-dore);
  color: var(--blanc-casse);
  border: none;
  width: 50%;
  border-radius: 20px;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
  align-self: center;
}
button.Gold {
  background: linear-gradient(
    105deg,
    var(--jaune-dore),
    #f8d668,
    var(--jaune-dore)
  );
  color: var(--noir-charbon);
  border: none;
  padding: 12px 28px;
  border-radius: 28px;
  box-shadow: 0.3rem rgba(196, 157, 3, 0.35);
  font-weight: 600;
  cursor: pointer;
  display: block;
  margin: 2rem auto;
}

@media (min-width: 600px){
.address-section {
  width: 100%;
  gap: 5dvw;
  justify-content: center;
}}