.evenement-page{
  padding: 2rem 2rem;
  max-width: 1000px;
  margin: 0 auto;
  color: var(--noir-charbon);
}

.event-header h1{
  font-family: var(--font-titres);
  font-size: 3rem;
  color: var(--noir-charbon);
  text-align: center;
  margin-bottom: 2rem;
}
.event-header h2{
  font-family: var(--font-titres);
  font-size: 2rem;
   text-align: center;
   color: var(--jaune-dore);
   margin-bottom:3rem;
}

.event-text{
  font-family: var(--font-corps);
  color: var(--noir-charbon);
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.event-text p{font-size:1rem; margin-bottom:1rem}



@media (min-width: 1024px){
  .event-gallery{ grid-template-columns: repeat(3, 1fr); }  
}


/* bouton Gold central (au besoin) */
button.Gold{
  background: linear-gradient(105deg, var(--jaune-dore), #f8d668, var(--jaune-dore));
  color: var(--noir-charbon);
  border: none;
  padding: 12px 28px;
  border-radius: 28px;
  box-shadow: 0.3rem rgba(196, 157, 3, 0.35);
  font-weight: 600;
  cursor: pointer;
  display: block;
  margin: 2rem auto;
}