.footer-container {
  background: var(--noir-charbon);
  color: var(--blanc-casse);
  text-align: center;
  margin-top: 2rem;
  font-family: var(--font-corps);
  padding-bottom: 1rem;
}

.footer-logo {
  justify-self: center;
  width: 96px;
  height: auto;
  padding: 1rem;
}
.footer-info {
  margin-top: 1rem;
  color: var(--blanc-casse);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  align-items: center;
}

/* Lien Facebook */
.footer-fb {
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  color: var(--blanc-casse);
  text-decoration: none;
  border-radius: 8px;
  transition: color 0.2s ease, background 0.2s ease;
}

.footer-fb img.picto_fb {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background:var(--jaune-dore);
}

.footer-fb:hover {
  color: var(--jaune-dore);
  background: rgba(173, 184, 18, 0.04);
}


.footer-bottom {
  margin-top: 1rem;
  color: rgba(255,255,255,0.75);
  font-size: 0.95rem;
}

.footer-link a {
  color: var(--jaune-dore);
  font-weight: normal;
  text-decoration: none;
  transition: color 0.2s ease;
}

.footer-link a:hover {
  color: var(--jaune-dore);
}

@media (min-width: 700px) {
  .footer-content {
    padding: 3rem 2rem 2rem;
  }
  .footer-logo {
    width: 120px;
  }
  .footer-img {
    max-height: 320px;
    opacity: 0.22;
  }
}
