.home-page {
  padding: 2rem 2rem;
  max-width: 1000px;
  margin: 0 auto;
  color: var(--noir-charbon);
}


.home-banner {
  width: 100dvw; 
  margin-left: calc(50% - 50dvw); /* aligne la bannière en full-bleed même dans un container centré */
  margin-right: calc(50% - 50dvw);
  overflow: hidden;
  position: relative;
}

.home-banner .Gold{
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}



.hero-group {
  width: 100dvw;
  object-fit: cover; 
  display: block;
  margin-bottom: 2rem;
}

@media (min-width: 900px) {
  .hero-group {
    width: 100dvw;
  }
 
}

.groupe {
  display: flex;
  justify-self: center;
  width: 40dvw;
  border-radius: 20px;
}
.hero-group {
  display: flex;
  justify-self: center;
  width: 100dvw;
  border-radius: 6px;
}

.home-header {
  align-items: center;
  gap: 1.25rem;
  padding-top: 1.5rem;
}

.home-header h1 {
  font-family: var(--font-titres);
  font-size: 2rem;
  color: var(--noir-charbon);
  text-align: center;
  margin-bottom: 2rem;
}
.home-header p {
  font-family: var(--font-corps);
  text-align: center;
  font-size: 1rem;
}

.textBold {
  font-weight: bold;
  color: var(--jaune-dore);
}

.home-page h2 {
  text-align: center;
  color: var(--jaune-dore);
  margin-bottom: 3rem;
  font-family: var(--font-titres);
  font-size: 2rem;
}

button.Gold {
  background: linear-gradient(
    105deg,
    var(--jaune-dore),
    #f8d668,
    var(--jaune-dore)
  );
  color: var(--noir-charbon);
  border: none;
  padding: 12px 28px;
  border-radius: 28px;
  box-shadow: 0.3rem rgba(196, 157, 3, 0.35);
  font-weight: 600;
  cursor: pointer;
  display: block;
  margin: 2rem auto;
}


.home-text {
  font-family: var(--font-corps);
  color: var(--noir-charbon);
  line-height: 1.6;
  margin-top: 1rem;
}

.home-text p {
  text-align: center;
  font-size: 1rem;
  margin-top: 1rem;
}

/* Composant agenda-card */
.agenda-card {
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: 1.25rem 0 2rem;
  justify-items: center;}

  
 
@media (min-width: 768px) {
  .home-header h1 {
    font-size: 2.2rem;
  }
  .agenda-card {
    margin-left: 0;
  }
}

